{% load static %}
<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>راهکارهای زیست محیطی کیوان</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="loading-screen">
        <div class="loading-icon">
            <img src="{% static 'images/k1s_logo.png' %}" alt="Your Logo" class="logo">
        </div>
    </div>
    <div class="coming-soon-content">
        <div class="logo-container">
            <img src="{% static 'images/k1s_logo.png' %}" alt="Your Logo" class="logo">
        </div>
        <div class="text-container">
            <h1>راهکارهای زیست محیطی کیوان</h1>
            <p>به زودی...</p>
        </div>
        <div class="contact-us">
            <h2>تماس با ما</h2>
            <p>ایمیل: info@example.com</p>
            <p>تلفن: 1234567890</p>
            <p>آدرس: خیابان مثال، شهر مثال</p>
        </div>
        <div class="social-media">
            <a href="https://www.facebook.com" target="_blank">
                <i class="fab fa-facebook-f social-icon"></i>
            </a>
            <a href="https://www.twitter.com" target="_blank">
                <i class="fab fa-twitter social-icon"></i>
            </a>
            <a href="https://www.instagram.com" target="_blank">
                <i class="fab fa-instagram social-icon"></i>
            </a>
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
